{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Our assessment task</title>

    {{ bootstrap.load_css() }}

    <style>
      body {
        background: #e8f1f9;
      }
    </style>
  </head>
  <body>
    <!-- 
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
 -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
          <h1 class="pt-5 pb-2">{{ title }}</h1>
          <div hx-get="/fps" hx-trigger="every 0.1s"></div>
          <p class="lead">
            {{ desc }}
          </p>

          {{ render_form(form) }}
          <br>
          {{ render_form(form2) }}

          <p class="pt-5" id=messanger>
            <strong>{{ message }}</strong>
          </p>
        </div>
      </div>
    </div>

    {{ bootstrap.load_js() }}
  </body>
</html>